#event
{

}

#event p.description
{
  width: 620px;
}

#event .leftColumn
{
  width:650px;
  float:left;
}

#event .rightColumn
{
  text-align:center;
  width:270px;
  float:right;
}

#event div.loginBlock
{
  -moz-border-radius:10px 10px 10px 10px;
  padding:10px;
  margin: 10px 15px 15px 15px;
  border:2px solid #DDDDDD;
}
