@import "mixins"
@import "settings"

body
  font-size: $base_font_size
  background-color: $bg_color
  font-family: Helvetica, Arial, sans-serif
  line-height: $base_line_height
  color: $main_text_color


a:link, a:visited
  color: $secondary_color
  text-decoration: none

a:hover
  color: $primary_color


