@import "mixins"
@import "settings"

body
  font-size: $base_font_size
  background-color: $bg_color
  font-family: Helvetica, Arial, sans-serif
  line-height: $base_line_height
  color: $main_text_color

#wrapper
  width: $site_width
  margin: 0 auto

section
  +rounded_corners(10px)
  +shadow(1px, 1px, 1px, grey)
  background-color: white
  padding: $base_line_height
  border: 1px solid #ccc
  margin: 0 0 $base_line_height 0
  display: block
  overflow: auto

h1
  font-size: 2.1*$base_font_size
  line-height: 3*$base_line_height
  font-weight: bold

h2
  font-size: 1.5*$base_font_size
  line-height: 2*$base_line_height
  font-weight: bold

  a
    font-size: $base_font_size

h3
  font-size: $base_line_height
  line-height: 2*$base_line_height
  font-weight: bold

h4
  font-size: $base_font_size
  line-height: $base_line_height
  font-weight: bold

ul
  margin: 10px 0

a:link, a:visited
  color: $secondary_color
  text-decoration: none

a:hover
  color: $primary_color

.highlighter
  background-color: #FFFF66
  display: inline-block
  margin: 2px
  padding: 2px

div.success
  +rounded-corners(10px)
  padding: 10px
  border: 1px solid lime
  background-color: #99FF99
  text-align: center
  margin-bottom: $base_line_height

div.errorExplanation
  +rounded-corners(10px)
  background: #FBE3E4
  color: #D12F19
  border: 1px solid #FBC2C4
  margin: $base_line_height 0
  padding: 10px

a.edit
  background: url(/images/icons/edit.png) no-repeat center left
  padding-left: 20px


a.add
  background: url(/images/icons/add.png) no-repeat center left
  padding-left: 20px


a.delete
  background: url(/images/icons/delete.png) no-repeat center left
  padding-left: 20px


a.attendees_list
  background: url(/images/icons/attendees_list.png) no-repeat center left
  padding-left: 20px

a.comments
  background: url(/images/icons/comments.png) no-repeat center left
  padding-left: 20px

.clear
  clear: both
