@import "mixins"
@import "settings"

section.post

  div.author
    overflow: auto
    float: left
    width: 350px


    div.profile_picture_small
      float: left
      margin-right: 10px


  h4 a
    color: #646464


  h4, h3
    font-family: Helvetica, Arial, sans-serif
    font-style: normal


  h4
    font-size: 18px
    margin-bottom: $base_line_height


  p
    font-size: 16px

  p.description
    background-color: $bg_color
    padding: 10px
    margin-top: $base_line_height


  span.when
    font-size: 12px
    line-height: $base_line_height
    color: #999

  div.info
    float: right

div.left_column
  float: left
  width: 665px



div.right_column
  float: left
  width: 294px
  text-align: center
