/* Layout structure */
body {
  text-align: center;
  margin: 0;
}

em.attendees_count {
  color: #5FA010 !important;
  font-weight: bold;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

#content {
  background-color: #FFFFFF;
  border: 1px solid #bab9b9;
  text-align: center;
  padding-bottom: 25px;
}






/* General fonts */
body {
  font-family: Lucida Grande, Arial, serif;
  font-size: 14px;
  line-height: 20px;
  color: #464646;
}

p, span {
  font-family: Lucida Grande, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

p {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #464646;
  margin: 0;
}

h1, h2, h3 {
  line-height: 40px;
}

h4, h5, h6 {
  line-height: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: Lucida Sans, serif;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-family: Georgia, sans-serif;
  display: block;
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 20px;
}

h5 {
  margin: 0;
}

a:link, a:visited {
  color: #30a4b1;
  text-decoration: none;
}

a:hover {
  color: #f7941d;
}

.in {
  width: 920px;
  margin: 20px auto;
  text-align: left;
}

.line {
  border-top: 1px solid #bab9b9;
  height: 1px;
}

p.intro {
  width: 600px;
}

label {
  margin: 5px 0 0 2px;
  font-weight: bold;
}

ul {
  margin: 0;
}

img {
  border: none;
  margin: 0;
}

.forms {
  line-height: 2em;
}

/*................... Links ......................*/

.v_line {
  padding: 0 5px;
  color: #999999;
}

/*.....................Header.................... */



/*................Form.................... */

.forms input[type=text], .forms input[type=password], .forms textarea {
  border: 1px solid #bab9b9;
  padding: 10px;
  width: 600px;
  color: #707070;
  font-size: 14px;
}

input[type=submit], input[type=button] {
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border: 0;
  background-color: #f7941d;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  cursor: pointer;
}

input[type=submit].alternative, input[type=button].alternattive {
  background-color: #30a4b1;
}

.forms input[type=text].blog_feed {
  background: url(/images/icons/feed-32x32.png) no-repeat 2px 2px;
  padding-left: 40px;
}

.forms input[type=text].twitter_username {
  background: url(/images/icons/twitter-32x32.png) no-repeat 2px 2px;
  padding-left: 40px;
}

.forms input[type=text].linkedin_profile {
  background: url(/images/icons/linkedin-32x32.png) no-repeat 2px 2px;
  padding-left: 40px;
}

.forms input[type=text].delicious_username {
  background: url(/images/icons/delicious-32x32.png) no-repeat 2px 2px;
  padding-left: 40px;
}

.forms input[type=text].github_account {
  background: url(/images/icons/github-32x32.png) no-repeat 2px 2px;
  padding-left: 40px;
}

/*..................................................... Navigation .....................*/

#navigation {
  width: 960px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  background-color: #464646;
}
#navigation ul {
  margin: 0px;
  padding: 0px;
}

#navigation ul li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#navigation li a {
  float: left;
  color: #fff;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  padding: 20px 30px;
}

#navigation li a:hover, #navigation li .active {
  color: #FFFFFF;
  background-color: #30a4b1;
}

.clear {
  clear: both;
}

/*..........................................General......................................*/
.highlighter {
  background-color: #ffff66;
  padding: 2px;
}

.profile_picture_medium {
  height: 50px;
  width: 50px;
  float: left;
  border: 1px solid #bab9b9;
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.profile_picture_small {
  height: 32px;
  width: 32px;
  float: left;
  border: 1px solid #bab9b9;
  padding: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.profile_picture_medium img {
  margin: 0;
}

a.linkButton {
  text-align: center;
  font-size: 18px;
  margin: 5px;
  background-color: #f7941d;
  color: white;
  font-weight: bold;
  padding: 10px;
  line-height: 40px;
}

a.linkButtonAlt {
  text-align: center;
  font-size: 18px;
  margin: 5px;
  background-color: #30a4b1;
  color: white;
  font-weight: bold;
  padding: 10px;
  line-height: 40px;
}

div.errorExplanation {
  background: none repeat scroll 0 0 #FBE3E4;
  color: #D12F19;
  -moz-border-radius: 8px 8px 8px 8px;
  border: 1px solid #FBC2C4;
  margin-bottom: 1em;
  padding: 0.8em;
}

div._success {
  padding: 10px;
  border: 1px solid green;
  background-color: #99FF99;
  text-align: center;
}

div.clear {
  clear: both
}

a.edit {
  background: url(/images/icons/edit.png) no-repeat top left;
  padding-left: 20px;
}

a.add {
  background: url(/images/icons/add.png) no-repeat top left;
  padding-left: 20px;
}

a.delete {
  background: url(/images/icons/delete.png) no-repeat top left;
  padding-left: 20px;
}

a.attendees_list {
  background: url(/images/icons/attendees_list.png) no-repeat top left;
  padding-left: 20px;
}

div.container {
  overflow: auto;
}

.hidden {
  display: none;
}

.addthis_toolbox span {
  font-size: 10px !important;
}

/* New layout */
div.rounded_content {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  background: white;
  text-align: left;
  padding: 10px;
  margin: 0 0 20px 0;
  overflow: auto;
}

div.rounded_content div.author {
  overflow: auto;
  margin: 10px 0;
}

div.rounded_content h4 a {
  color: #646464;
}

div.rounded_content h4, div.rounded_content h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
}

div.rounded_content h4 {
  font-size: 18px;
}

div.rounded_content p {
  font-size: 16px;
}

div.rounded_content span.when {
  font-size: 12px;
  color: #999;
}

div.left_column {
  float: left;
  width: 680px;
}

div.right_columns {
  float: right;
}

#new_content {
  overflow: auto;
}

label.required {
  padding-left: 15px;
  background: url(/images/icons/asterisk_red.png) no-repeat center left;
}

div.togglers h3 {
  float:left;
  margin-right:20px;
}

ul.tabs li {
  display:inline-block;
}

ul.tabs li a{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #999;
  line-height: 20px;
  text-align: center;
  vertical-align: baseline;
  direction: ltr;
  -moz-border-radius: 4px 4px 4px 4px;
  height: 20px;
  padding: 10px 30px;
  display: inline-block;
}

ul.tabs li.selected a{
  background-color: #30A4B1;
  color: #FFFFFF;
}

ul.tabs a:hover {
  text-decoration: underline;
}

#new_code_snippet_form {
  display:none;
}
