body {
  font-size: 16px;
  background-color: #ebebeb;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 21px;
  color: #464646; }

#wrapper {
  width: 960px;
  margin: 0 auto; }

section {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px grey;
  -moz-box-shadow: 1px 1px 1px grey;
  box-shadow: 1px 1px 1px grey;
  background-color: white;
  padding: 21px;
  border: 1px solid #cccccc;
  margin: 0 0 21px 0;
  display: block;
  overflow: auto; }

h1 {
  font-size: 33.6px;
  line-height: 63px;
  font-weight: bold; }

h2 {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold; }
  h2 a {
    font-size: 16px; }

h3 {
  font-size: 21px;
  line-height: 42px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold; }

ul {
  margin: 10px 0; }

a:link, a:visited {
  color: #30a4b1;
  text-decoration: none; }

a:hover {
  color: #f7941d; }
