body {
  font-size: 16px;
  background-color: #ebebeb;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 21px;
  color: #464646; }

#wrapper {
  width: 960px;
  margin: 0 auto; }

header, nav {
  display: block;
  overflow: auto; }

a:link, a:visited {
  color: #30a4b1;
  text-decoration: none; }

a:hover {
  color: #f7941d; }
