section.events h3 {
  font-weight: normal;
  line-height: 21px; }
section.events dl {
  margin-top: 21px; }
section.events dt {
  float: left;
  border: 1px solid red;
  width: 62px;
  text-align: center;
  font-weight: bold;
  background-color: #ececec;
  background-image: -moz-linear-gradient(top, #ececec, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ececec), color-stop(1, white));
  background-image: -webkit-linear-gradient(#ececec, white);
  background-image: linear-gradient(top, #ececec, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ececec, endColorstr=white);
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0 0 20px 0;
  clear: both; }
  section.events dt .month {
    background-color: #ff3333;
    background-image: -moz-linear-gradient(top, #ff3333, #cd3333);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff3333), color-stop(1, #cd3333));
    background-image: -webkit-linear-gradient(#ff3333, #cd3333);
    background-image: linear-gradient(top, #ff3333, #cd3333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3333, endColorstr=#cd3333);
    display: block;
    color: white; }
  section.events dt .day {
    display: block;
    font-size: 32px;
    line-height: 42px; }
section.events dd {
  float: left;
  width: 520px;
  padding: 11px;
  margin: 0 0 20px 20px; }
section.events dd.odd {
  background: #ebebeb; }
section.events span.group {
  background: #f7941d;
  color: white;
  line-height: 21px;
  font-size: 16px;
  display: inline-block;
  padding: 0 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }
section.events em.attendees_count {
  color: #5fa010; }
section.events p.friendsInfo {
  color: #999999;
  font-size: 12px;
  line-height: 21px;
  margin: 0; }

#events_list_page dd {
  width: 800px; }
#events_list_page h1 {
  padding-left: 40px;
  margin: 0 0 21px 10px;
  background: url(/images/icons/date.png) no-repeat center left; }

#event {
  overflow: auto; }
  #event p.description {
    width: 620px; }
  #event .leftColumn {
    width: 650px;
    float: left; }
  #event .rightColumn {
    text-align: center;
    width: 270px;
    float: right; }
  #event div.loginBlock {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 15px 15px;
    border: 2px solid #dddddd; }
  #event h4 {
    font-weight: bold;
    font-style: normal; }
  #event h3 {
    font-weight: normal;
    margin-bottom: 20px; }
  #event div.description {
    background-color: #ebebeb;
    padding: 10px;
    margin: 40px 0;
    overflow: auto; }
  #event ul.details {
    list-style: none; }
  #event ul.details li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline; }
  #event li.website {
    background: url(/images/icons/link_go.png) no-repeat top left; }
  #event li.location {
    background: url(/images/icons/globe_model.png) no-repeat top left; }
  #event .date {
    background: url(/images/icons/date.png) no-repeat top left;
    padding-left: 40px;
    margin-bottom: 0; }
  #event .calendar_add {
    background: url("/images/add.png") no-repeat center left;
    padding: 0 0 0 19px;
    color: #30a4b1;
    cursor: pointer; }
  #event .calendars {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    position: absolute;
    border: 1px solid #bab9b9;
    background-color: white;
    padding: 5px 10px 5px 10px; }
  #event .calendars li {
    padding: 0.25em 0 0;
    margin: 0;
    list-style: none outside none; }
  #event span.calendar_option {
    display: block;
    float: left;
    margin-right: 5px;
    height: 16px;
    width: 16px; }
  #event span.outlook {
    background-image: url("/images/outlook16x16.png"); }
  #event span.icalendar {
    background-image: url("/images/icalendar.png"); }
  #event span.google_calendar {
    background-image: url("/images/google_calendar16x16.png"); }
  #event section.container .profile_picture_medium {
    margin: 10px 10px 0 0; }
