header {
  display: block;
  overflow: hidden; }

#logo {
  float: left;
  background: url(/images/logo.png) no-repeat top left;
  line-height: 120px;
  width: 360px;
  height: 120px;
  margin: 0;
  position: relative; }

#logo a {
  height: 120px;
  width: 360px;
  opacity: 0;
  -moz-opacity: 0.5;
  filter: alpha(opacity=0);
  position: absolute;
  display: block;
  text-align: left; }

p#authentication_status {
  float: right;
  margin-top: 21px; }
