#first_layer {
  margin: 0 auto;
  width: 960px; }

#second_layer {
  margin: 0 auto;
  width: 960px;
  background: url(/images/superdev.png) top right no-repeat;
  height: 300px;
  clear: both; }
  #second_layer #introduction {
    width: 550px; }
    #second_layer #introduction h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: bold; }
    #second_layer #introduction p {
      font-size: 22.4px;
      line-height: 42px; }
    #second_layer #introduction #introduction_links {
      margin: 21px 0 0 63px; }

#third_layer {
  border-top: 21px solid #30a4b1;
  border-bottom: 21px solid #30a4b1;
  padding: 11px 0 31px 0;
  background-color: #464646;
  color: white;
  overflow: auto;
  text-align: center; }
  #third_layer h3 {
    font-size: 24px;
    line-height: 42px;
    font-weight: bold; }
  #third_layer h4 {
    font-size: 19.2px;
    line-height: 42px;
    font-weight: bold;
    text-align: center; }
    #third_layer h4 a {
      padding: 0 42px;
      line-height: 42px;
      display: inline-block; }
  #third_layer h4.links a {
    background: url(/images/icons/feed.png) no-repeat center left; }
  #third_layer h4.code a {
    background: url(/images/icons/tag.png) no-repeat center left; }
  #third_layer h4.events a {
    background: url(/images/icons/calendar.png) no-repeat center left; }
  #third_layer #key_points {
    margin: 0 auto;
    overflow: auto;
    width: 960px; }
    #third_layer #key_points div {
      width: 260px;
      text-align: left;
      padding: 10px;
      margin: 11px;
      background-color: #666666;
      background-image: -moz-linear-gradient(top, #666666, #555555);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #555555));
      background-image: -webkit-linear-gradient(#666666, #555555);
      background-image: linear-gradient(top, #666666, #555555);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#666666, endColorstr=#555555);
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: auto; }

#footer_layer {
  margin: 0 auto;
  width: 960px; }
