body {
  margin: 0;
}

#first_layer {
  margin: 0 auto;
  width: 960px;
}

#footer_layer {
  margin: 0 auto;
  width: 960px;
}

#second_layer {
  margin: 0 auto;
  width: 960px;
  background: url(/images/superdev.png) top right no-repeat;
  height: 300px;
  clear: both;
}

#third_layer {
  border-top: 20px solid #30a4b1;
  border-bottom: 20px solid #30a4b1;
  padding: 10px 0;
  background-color: #464646;
  color: white;
}

#key_points {
  margin: 0 auto 20px auto;
  width: 960px;
  overflow:auto;
}

#key_points div {
  width: 290px;
  text-align: left;
  padding: 10px 5px;
  margin: 0 10px;
  line-height: 21px;
  background: #464646 -moz-linear-gradient(50% 0%, #666, #555) repeat scroll 0 0;
  -moz-border-radius: 4px 4px 4px 4px;
}

#key_points h3 {
  color:white;
}

#key_points .heading {
  text-align:left;
  background:none;
  width:auto;
}

#key_points p {
  font-size: 18px;
  margin: 0 10px;
}

#key_points h4 a {
  padding-left:40px;
  padding-right:40px;
}

h4.links a {
  background:url(/images/icons/feed.png) no-repeat top left
}

h4.code a {
  background:url(/images/icons/tag.png) no-repeat top left
}

h4.events a {
  background:url(/images/icons/calendar.png) no-repeat top left
}

#introduction {
  text-align: left;
  width: 550px;
  line-height: 40px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #666666;
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 40px;
}

h4 a {
}

#introduction_links {
  font-size: 24px;
  line-height: 24px;
  margin: 30px 0 0 60px;
}

#introduction_links a {
  text-align: center;
  color: white;
  vertical-align: middle;
  font-weight: bold;
  padding: 10px;
}

#introduction_links a:hover {
  text-decoration: underline;
}

#join_us_link {
  text-align: center;
  margin: 0 auto 0;
  width: 150px;
  background-color: #f7941d;
}

#see_users {
  text-align: center;
  margin: 0 auto 0;
  width: 150px;
  background: #30a4b1 -moz-linear-gradient(50% 0%, #30a4b1, #30757c) repeat scroll 0 0;
  border: 1px solid #30757c;
}
