section.post div.author {
  overflow: auto;
  margin: 10px 0; }
section.post h4 a {
  color: #646464; }
section.post h4, section.post h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal; }
section.post h4 {
  font-size: 18px; }
section.post p {
  font-size: 16px; }
section.post span.when {
  font-size: 12px;
  color: #999999; }

div.left_column {
  float: left;
  width: 680px; }

div.right_columns {
  float: right; }
