- current_tab('people')
.in.forms
  %h3.highlighter Join us using an existing account

  %p.intro
    Superdevs combines your various profile and information from the web |
    and it makes easy to get in touch with other developers with similar interests.|
    Sign up to receive an invite to our private alpha release.
  %p
    We are sure you are glad we got rid of old clunky registration forms. |
    Please use one of the accounts below or register a new OpenID one.
  %iframe{:src=>"http://superdevs.rpxnow.com/openid/embed?token_url=#{user_sessions_url}",
          :scrolling=>"no", :frameBorder=>"no", :allowtransparency=>"true", :style=>"width:400px;height:240px"}
