#second_layer
  #introduction
    %h2 Become a super developer!
    %h3
      Join the SuperDevs community to share your interests, knowledge, snippets of code and interesting links.
      Also find out about upcoming talks and conferences in your area.
    #introduction_links
      %a#join_us_link.super_button{:href => login_path } Join us!
      or
      %a#see_users.super_button{:href => users_path} See who's in

#third_layer
  #key_points
    %h3 Explore the great content within SuperDevs
    %div{:style => 'float:left;'}
      %h4.links
        = link_to 'Links', '#'
      %p Read articles about programming and latest technologies.
    %div{:style => 'float:left;'}
      %h4.events
        = link_to 'Events', events_url
      %p Check out upcoming events, talks and conferences in your area.
    %div{:style => 'float:left;'}
      %h4.code
        = link_to 'Code', '#'
      %p
        Explore snippets of code and Github commits shared by other developers

