#second_layer
  #introduction
    %h2 Become a super developer!
    %h3 Mash your web presence into a single profile page. Share your blog, tweets, github updates and much more with other devs.
    #introduction_links
      %a#join_us_link{:href => register_path } Join us!
      or
      %a#see_users{:href => users_path} See who's already in

#third_layer
  #key_points
    %div{:style => 'float:left;'}
      %h4 Share
      %p Combine your accounts that define your development identity. With one link you can share your latest tweets, contact details, blog entries, and git commits with other developers.
    %div{:style => 'float:left;'}
      %h4 Learn
      %p Check out the latest trends in the development community. Find out what popular developers are interested in or read blogs of developers with interests similar to yours.
    %div{:style => 'float:left;'}
      %h4 Socialise
      %p Meet other developers at conferences or user groups near you. Stay up to date with events related to your interests. Follow other developers and gain popularity within the community.
    %div{:style => 'clear:both'}

