- current_tab('home')
:javascript
  _gaq.push(['_setVar', 'member']);
#user_home
  .in
    #left_column
      %h2
        What's going on
      %ul.updates
        - @user_home_presenter.friends_activities.each do |ua|
          %li
            = render :partial => 'shared/user_activities/user_is_attending_an_event',
              :locals => {:user_activity => ua}

    #right_column
      - unless current_user.following.empty?
        #following.relationships
          %h2.following Following
          - current_user.following.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html
      - unless current_user.followers.empty?
        #followers.relationships
          %h2.followers Followers
          - current_user.followers.each do |u|
            %a{:href=> user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html
      %h2.events Your events
      = render :partial => 'shared/events',
               :locals => {:events => @user_home_presenter.attended_or_tracked_events}

