- current_tab('home')
#user_home
  .in
    #left_column
      %h2
        News and friends updates
      %ul.updates
        %li.event
          :markdown
            [Erling Wegger Linde](#), [Martin Fowler](#), and [Bob Martin](#) are attending
            [London Clojure Dojo](#) on the 15th of February 2010.
        %li.event
          :markdown
            [Joshua Block](#) is attending
            [Multithreading for dummies](#) on the 15th of February 2010.
        %li.event
          :markdown
            [Erling Wegger Linde](#) is attending
            [Ruby User Group October Meetup](#) on the 15th of February 2010.
        %li.event
          :markdown
            [Martin Fowler](#), and [Bob Martin](#) are attending
            [London Clojure Dojo](#) on the 23th of February 2010.


    #right_column
      - unless current_user.following.empty?
        #following.relationships
          %h2.following Following
          - current_user.following.each do |u|
            %a{:href=>user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html
      - unless current_user.followers.empty?
        #followers.relationships
          %h2.followers Followers
          - current_user.followers.each do |u|
            %a{:href=> user_path(u.username), :title=> u.full_name}
              != u.small_profile_picture.to_html
      %h2.events Tracked events
      = render :partial => 'shared/events',
               :locals => {:events => @user_home_presenter.attended_or_tracked_events}

