- current_tab('events')
.in
  %h2 Upcoming events, talks and conferences for developers
  - unless @events.todays_events.empty?
    %h3 Happening today
    = render :partial => 'events',
             :locals => {:events => @events.todays_events}
  - unless @events.tomorrows_events.empty?
    %h3 Happening tomorrow
    = render :partial => 'events',
             :locals => {:events => @events.tomorrows_events}
  - unless @events.all_other_events.empty?
    %h3 Coming up
    = render :partial => 'events',
             :locals => {:events => @events.all_other_events}
  .clear

