- current_tab('home')
.in
  %h2 Contact us
  
  %p
    Feel free to contact us with service questions, partnership proposals, or media inquiries.

  %p
    = link_to 'help@superdevs.com', 'mailto:help@superdevs.com'

  %p
    You can also use the feedback link on the left of this page in order to request features or highlight bugs.

  %p
    You can follow us on twitter, we broadcast as
    = link_to '@superdevs', 'http://www.twitter.com/superdevs'
