<h2>Contact us</h2>


<div class="in">

  <p>
    Feel free to contact us with service questions, partnership proposals, or media inquiries.
  </p>

  <p>
    <a href="mailto:help@superdevs.com">help@superdevs.com</a>
  </p>

  <p>
    You can follow us on twitter, we broadcast as <a href="http://www.twitter.com/superdevs">@superdevs</a>
  </p>

</div>