<div class="in">
  <h2>Your invitation request has been sent</h2>
  <p>
    You will receive an email as soon as there are spaces available.
    Please <strong>check your spam filter</strong> in case the activation instructions are marked as spam.
  </p>
  <p>
    Thank you for joining Superdevs.com
  </p>
</div>