.in
  %h2 Your invitation request has been sent
  %p
    You will receive an email as soon as there are spaces available.
    Please
    %strong check your spam filter
    in case the activation instructions are marked as spam.
  %p
    Thank you for joining Superdevs.com
