<div class="in">
  <h2>Your invitation request has been sent</h2>
  <p>
    You will receive an email as soon as there are spaces available.
  </p>
  <p>
    Thank you for joining Superdevs.com
  </p>
</div>