<% current_tab('home') %>
<div class="in">
<h3>Privacy policy</h3><br/><br/>
<h3>1. Use of Information</h3>
<p>superdevs.com (hereafter known as &#39;we&#39;) have created this Privacy Policy to demonstrate our commitment to the principles of privacy on-line. We recognise that our Users are our most important asset and we strive to protect their confidential information at all times. The following discloses our information gathering and dissemination practices for this Web site and the associated superdevs services.</p>
<p>We may collect the following information in order to provide the superdevs service or where neccessary in order to comply with statutory requirements:</p>
<ul>
<li>Information about devices, users and policies within an organisation</li>
<li>Contact information for individuals and companies who register for superdevs services</li>

<li>Billing information for individuals and companies who purchase subscription accounts</li>
</ul>
<p>Any such information collected will be held securely in accordance with the Data Protection Act.</p>
<h3>2. Information on our Server</h3>
<p>We use your Internet Protocol (IP) address to help us diagnose problems with our server, and to administer our Web site. Your IP address is collected and used to collect general demographic information to give us an idea of what types of businesses use our services.</p>
<p>Where you register for an superdevs account we may link your IP address to your user account for the purpose of monitoring use of the superdevs service to prevent abuse and to comply with statutory requirements.</p>
<h3>3. Cookies</h3>
<p>A cookie is a small piece of data that may be stored on your computer when you visit a web site. Cookies may be used to identify returning visitors to a website or to remember information between visits (such as shopping cart contents on an ecommerce website). Cookies do not hold any personally identifiable information and cannot access any other file on your computer.</p>
<p>We may use cookies to store user preferences or to track user movement between pages on our website. We do not store any personally identifiable information in our cookies.</p>

<p>We may use third parties to provide ad services on our website. Such services include Google and DoubleClick.</p>
<p>These third party services may use cookies. Moreover, they may use cookies to personalise their advertising content.</p>
<p>In the case of Gooogle you may find out more information about their use of DART tracking cookies, and how to opt out, at <a href="http://www.google.com/privacy_ads.html" target="_blank">http://www.google.com/privacy_<WBR>ads.html </a>.</p>
<p>You can find out more about cookies in general, including information on how to disable them, at <a href="http://www.allaboutcookies.org" target="_blank">allaboutcookies.org</a>. Please note that we are not responsible for the content of third party websites.</p>
<h3>4. Sharing of Information</h3>
<p>We will not share personally identifiable information about superdevs users without express consent, or where required by law.</p>

<p>We may provide aggregated or anonymised information about general trends to third parties. Such information will not include any personally identifiable information.</p>
<p>Information may be stored on servers outside of the European Union. Any information stored outside of the European Union will be held in accordance with European Union Safe Harbor principles.</p>
<h3>5. Security</h3>
<p>This site has security measures in place to protect the loss, misuse and alteration of the information under our control. Such measures include, but are not neccessarily limited to, provision of firewalls, anti-virus software and encryption technologies.</p>
<h3>6. Correct/Update/Review</h3>
<p>In accordance with the Data Protection Act 1998, this site provides registered users with the opportunity to review, change and/or modify information provided by updating their profile. If you are unable to access your account to make such changes, please contact the Data Controller using the details below.</p>
<h3>7. Terms of Use &amp; Privacy Statement Changes</h3>
<p>Changes to our Privacy Policy will be posted on this Web site. Changes will become effective upon posting of such changes.</p>

<h3>8. Contact Us</h3>
<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this Web site, you can contact:</p>
<p>Data Controller<br>
superdevs<br>
Email address - <a href="mailto:help@superdevs.com" target="_blank">help@superdevs.com</a><br>
<h3>9. Effective Date</h3>

<p>This Terms of Use &amp; Privacy Statement is effective as of 22nd July 2010.</p>
<h3>Fair Processing Notice</h3>
<p>The Company shall comply with the provisions of the Data Protection Act 1998 (&quot;the Act&quot;) in relation to the processing of any personal data it obtains from you. The Company shall comply with its online Privacy Statement at all times.</p>
<p>We may collect information from automatic network scanning, by means of entry by individual users, or by any other reasonable means.</p>
<p>Information will be held and used in order to provide the superdevs service.</p>
<p>We may provide your information to third parties where permitted by law, or where required by a Court Order. In all other circumstances we will not share any personally identifiable information with third parties without your consent.</p>

<h3>Our security</h2>

<p>We take your security very seriously. Below you will find details of some of the measures we have taken in order to ensure the security of any information that we hold.</p>
<p>If you have any questions or concerns, then we would encourage you to <a href="http://contact-us-and-media" target="_blank">contact us</a> so we can discuss your concerns.</p>

<h3>Security of Data</h3>

<h3>User accounts and passwords</h3>

<p>We do not store passwords in any shape or form. Instead we store a one-way hash of your password. When you enter your password we hash the text you have entered, and compare this with the hash stored in our database. If the two match, then access is granted.</p>
<p>By doing this we never have to store your original unencrypted password, and it is computationally impractical to reverse a hash to reveal the original password, even if our database were ever compromised.</p>
<p>One side effect of this approach is that we are unable to tell you your password if you ever forget it. All we can do is generate a new random password and email that to you.</p>
</div>
