<div class="in">
<h3>Terms and Conditions</h3>

<p>These Terms &amp; Conditions govern your use of this website - please read them. You should also read our Privacy Policy in conjunction with these Terms &amp; Conditions.</p>

<p>Last updated: 22nd July 2010.</p>
<h3>1.Definitions</h3>
<p>In this document the following terms apply:</p>
<p>&#39;We&#39; or &#39;Us&#39; refers to SuperDevs.com.</p>
<p>&#39;You&#39; refers to you, the person reading these terms and conditions</p>

<p>The &#39;website&#39; refers to this website, which can be found at www.superdevs.com, and any other websites associated with superdevs .</p>
<p>The &#39;service&#39; refers to any use of the &#39;website&#39;</p>
<h3>2.Use of the service</h3>
<p>We grant you a non-exclusive license to use the service and website, subject to your acceptance of, and continuing adherence to, these Terms &amp; Conditions.</p>

<p>You may download pages from our website for your own internal business use. You may not otherwise sell, rent, give away or otherwise distribute any of our website pages (in any form) without our express written permission, or where otherwise clearly indicated on the relevant page that you may do so.</p>
<p>You may not use our website for any illegal purpose. This includes, but is not limited to, uploading copyrighted information or data without the permission of the copyright holder or performing any action which may disrupt or damage computers or networks.</p>
<p>You may not attempt to reverse-engineer or disassemble any part of any of our services, or incorporate any part of our services into any third party website or content without our express written permission.</p>
<p>You may not attempt to bypass any restrictions placed on your account</p>
<p>You may not use any information provided through our website for any purpose other than your internal business use. In particular you may not use data collected through our website for marketing activities.</p>
<h3>3. Your obligations</h3>
<p>If you are a registered member of the website you must make reasonable efforts to keep your account details up to date. You must provide and maintain accurate contact details.</p>
<p>You agree to comply with any reasonable requirements we may make of you in order to maintain the continued operation of our service. You agree that, in the event we are unable to contact you, we reserve the right to suspend or terminate your account if we feel it is having a detrimental effect on other service users, or we reasonably believe your account to be in breach of these Terms &amp; Conditions.</p>

<p>If you become aware that our service is being operated in a way which may breach these Terms &amp; Conditions you agree to inform us as soon as is reasonably practicable.</p>
<h3>4.Intellectual Property</h3>
<p>Any content you upload to the website remains your intellectual property. We accept no responsibility for any loss or damage to such content. It is your responsibility to maintain your own backup copies of any such content uploaded to the website.</p>
<p>You agree to indemnify us from any claims in relation to any content you upload. This includes, but is not limited to, any claims for breach of copyright, trademark disputes or claims for breach of licensing terms.</p>
<p>Any content not uploaded by you to the website remains at all times our property.</p>
<p>Content you upload remains your property and you grant us a worldwide non-exclusive royalty free license to reproduce such content for the sole purpose of providing you with the service. By agreeing to these terms you confirm that you have the right to grant us such a license.</p>
<h3>5.Warranties</h3>
<p>The website and service is provided to you &#39;as is&#39; and we accept no liability for any loss or damage incurred as a result of your use of our service.</p>

<p>From time to time our service may not be available, or may operate with reduced functionality. We will attempt to provide prior warning of any scheduled maintenance through our website, but we cannot be held responsible for any loss or degradation of service, or any consequential loss or damage you may incur as a result.</p>
<p>Any information provided through the use of our service is also provided on an &#39;as is&#39; basis. Any recommendations made through our service are not guaranteed, and if you are unsure you should always seek your own independent advice. You agree to indemnify us from any liability incurred as a result of your use of our service, or any advice provided through our service.</p>

<h3>6. Termination</h3>
<p>We may terminate this agreement at any time by emailing the email address provided upon registration.</p>
<p>You may terminate this agreement and cancel your superdevs account at any time by emailing <a href="mailto:help@superdevs.com" target="_blank">help@superdevs.com</a>.</p>
<p>If you cancel your account we will use our best endeavours to delete all data you have uploaded to superdevs on or shortly after the date you cancel your account. If you subsequently choose to reinstate your account it may not be possible to recover such data once it has been deleted. If you feel this is likely to be the case then please consider downgrading to a free plan rather than cancelling your account completely.</p>

<h3>7.Limitation of liability</h3>
<p>We accept no liabilities whatsoever as a result of your use of our service, save where such liability arises from our negligence. In such a case our liability is limited to the minimum provided for in law.</p>
<p>Nothing in these Terms &amp; Conditions shall affect your statutory rights under law.</p>
<h3>8.Other</h3>
<p>If any part of these Terms &amp; Conditions are found to be unenforceable by a properly constituted court or tribunal this shall in no way affect the remainder of these Terms &amp; Conditions.</p>
<p>Without prejudice to any other relief available to us, we reserve the right to suspend or terminate your use of our services in the event we believe you to be in breach of these Terms &amp; Conditions. In such a case we will make reasonable efforts to inform you of our actions after the event.</p>

<p>These Terms &amp; Conditions may be varied from time to time. Notification of such changes will be made by means of a message on our website. Where such a change is minor and does not fundamentally affect your rights, your continued use of our service will constitute your acceptance of the amended Terms &amp; Conditions.</p>
<p>Where we make a change to our Terms &amp; Conditions that may fundamentally alter your rights under this agreement we will make reasonable efforts to notify registered users of such a change within 7 working days, and provide users with an opportunity to terminate any subscription and receive a refund of any remaining subscription. Your right to exercise this option may only be exercised for a period of 30 days after such a change to our Terms &amp; Conditions.</p>
<p>You may not assign any portion of these Terms &amp; Conditions, nor any rights or licenses granted under these terms, without our express written permission. We may assign these Terms &amp; Conditions or any of our rights or license under these Terms &amp; Conditions at our sole discretion.</p>

<p>Any failure by us to enforce any part of these Terms &amp; Conditions will not affect our overall right to enforce any part of these Terms &amp; Conditions, and will under no circumstances constitute a waiver of our rights under these Terms &amp; Conditions.</p>
<p>No third party rights (whether under the Contracts (Rights of Third Parties) Act 1999 or any other relevant legislation) shall be conferred by virtue of these Terms &amp; Conditions.</p>
<h3>9.Jurisdiction</h3>
<p>These Terms &amp; Conditions are provided under the non-exclusive jurisdiction of England and Wales. You agree to accept the jurisdiction of the English Courts in the event of any dispute.</p>
</div>
