#group_page_header {
  width:100%
}

  #group_page_header .title {
    float:left;
    width:650px;
    margin-bottom:20px;
  }

  #group_page_header .membership {
    float:right;
    width:200px;
  }

    #group_page_header .membership input {
      margin: 5px 0; 
    }

  #group_page_header .line {
    clear:both;
    width:100%;
  }

#group_page
{
  width:100%;
  overflow:hidden;
}

  #group_page .description {
    float:left;
    width:650px;
    margin-bottom:20px;
  }

  #group_page .events {
    width:650px;
  }

  #group_page .events dd {
    width:580px;
  }

  #group_page .members {
    float:right;
    width:200px;
  }
    #group_page .members ul {
      list-style-type:none;
    }
    
    #group_page .members ul li {
      clear: both;
      margin-bottom: 10px;
      padding: 10px;
    }

    #group_page .members ul li.odd {
      background-color:#ebebeb;
    }


